@use '@/shared/styles/tokens' as *;
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/functions' as *;

//

.t-1-bold {
    @include font(bold, var(--font-ubuntu), currentColor, twelve, md);
    font-size: get-font-size(7xl);
}

.t-2-bold {
    @include font(bold, var(--font-ubuntu), currentColor, twelve, md);
    font-size: get-font-size(3xl);
}

.t-3-medium {
    @include font(medium, var(--font-ubuntu), currentColor, twelve, md);
    font-size: get-font-size(md);
}

.t-3-regular {
    @include font(regular, var(--font-ubuntu), currentColor, fifteen, md);
    font-size: get-font-size(md);
}

.t-4-bold {
    @include font(bold, var(--font-ubuntu), currentColor, twelve, 3xl);
    font-size: get-font-size(sm);
}

.t-4-medium {
    @include font(medium, var(--font-ubuntu), currentColor, fifteen, md);
    font-size: get-font-size(sm);
}

.t-4-regular {
    @include font(regular, var(--font-ubuntu), currentColor, twelve, md);
    font-size: get-font-size(sm);
}

.t-5-regular {
    @include font(regular, var(--font-ubuntu), currentColor, twelve, md);
    font-size: get-font-size(xs);
}