@use '@/shared/styles/mixins' as *; // instruments
@use '@/shared/styles/functions' as *; // instruments

//

.navigation {
    @include size(width, full);

    @include flex($align: center);

    position: fixed;
    bottom: 0;
    left: 0;

    padding: get-space(md);
    margin-top: auto;

    background-color: var(--bg-primary);

    @include breakpoint(laptop) {
        position: relative;

        padding: 0;
    };

    &__prev {
        margin-right: auto;
    }

    &__next {
        margin-left: auto;
    }
}